$primary-color: #444;
//$secondary-color: #eece1a;
//$secondary-color: #4e8db8;
$secondary-color: #fc320a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$about-image: url(../img/aboutmebackground.jpg);
$work-image: url(../img/workbg.jpg);
$contact-image: url(../img/contactbg.jpg);
$background-opacity: 0.7;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        min-width: fit-content;
        min-height: fit-content;
        z-index: -1;
        background-size: contain;
        background: rgba($primary-color, $background-opacity);
      }
    }
    .overlay {
      top: 0;
      right: 0;
      width: 100wh;
      height: 150%;
      min-width: fit-content;
      min-height: fit-content;
      z-index: -1;
      //background-size: contain;
      background: rgba($primary-color, $background-opacity);
    }
    &#abt-img {
      background: $about-image;
      background-attachment: fixed;
      background-size: cover;
    }

    &#work-img {
      background: $work-image;
      background-attachment: fixed;
      background-size: cover;
      margin: 5px;
    }
    &#cnct-img {
      background: $contact-image;
      background-attachment: fixed;
      background-size: auto;
      margin: 5px;
    }
  }
}

@function set-text-color($color) {
  @if (lightness($color) >40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
