@import "config";

.centerdiv {
  position: fixed;
  margin: auto;
  min-height: fit-content;
  transform: scale(0.1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 40vh;
  height: 20vh;
  color: set-text-color(#000);

  //transition: all 5s;
  @include easeOut;
  background: rgba(lighten($primary-color, 2), 0.3);
  border: 1px solid #111;
  border-radius: 10px;
  visibility: hidden;

  &.show {
    visibility: visible;
    position: fixed;
    transform: scale(1.6);
  }
}

.cls-btn {
  position: absolute;
  background: red;
  border-radius: 50%;
  z-index: 10;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;
}
